body {
    font-family: 'Exo', sans-serif;
}
.navbar-default {
   
    color: #000;
    
    
    
}
.parallax-window {
    min-height: 200px;
    background: transparent;
    margin-top: -50px;
}
.parallax-window2 {
    min-height: 400px;
    background: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: #0B9BE1;
}
.navbar-default .navbar-brand {
    color: #000;
    
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/*
Podświetlenie navbaru
*/
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000;
    background-color: transparent;
    
}
/*
kolor linków
*/
.navbar-default .navbar-nav > li > a {
    color: #000;
    text-align: center;
    font-size: 18px;

}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover
.navbar-default .navbar-nav > .active > a:focus {
    
    color: #FFF;
    background-color: #FC6432;
    
}

/*
podświetlenie linków
*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FC6432;
    background-color: transparent;
}
.jumbotron {
margin: 0px;
    text-align: center;
    height: 150px;
    padding-top: 5px;
}
.center {
    text-align: center;
}
.header {
    background-image: url("../img/piask.jpg");
    background-position: 50%;
    background-repeat: no-repeat;
    height: 200px;
    margin-top: -50px;
}
.onas {
    text-align: center;
    padding: 15px;
    height: auto;
}
.last {
    text-align: center;
    padding: 15px;
    height: auto;
    background-color: transparent;
    
}

.kontakt {
    height: auto;
    width: 100%;
    padding: 25px;
    background-color: #fff;
    font-size: 18px;
}


.formul {
    background-color: #eee;
    color: white;
}
.footer {
    height: 100px;
    padding: 15px;
    background-color: #152836;
    color: white;
}
.dol {
    vertical-align: bottom;
}
